header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1em;
    grid-area: header;
}

nav {
    float: left;
    background-color:beige;
    float: left;
    display: inline;
    grid-area: nav;
    

}
li{
    background-color: rgb(250, 0, 50);
    
    display: inline;
    margin-right: 20em;
    padding: 1em;
    
}

main {
    background-color: black;
    color: white;
    grid-area: main;
}
footer {
    background-color: red;
    color: white;
    grid-area: footer;
}


body{
    display: grid;
    background-color: red;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header "
                         "nav nav nav"
                         "main main main"
                         "footer footer footer"

}
